body{
    background-color: #F5E7C7;
}

/*Dit haalt de media controls weg*/
video::-webkit-media-controls {
    display: none;
  }

  /* weergave van de scenes */
  #scene_rest {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /* icons */  
  .column {
        flex: 33.33%;
        padding: 0px 50px 0px 50px;
        transition: transform .2s;
      }
  .column:hover {
transform: scale(1.15);
      }
  
  #row {
    display: flex;
    margin: auto;
    width: 55%;

  }
  
  